* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.header {
    width: 100%;
    height: 46px;
    line-height: 46px;
    form {
        width: 95%;
        position: relative;
        .a {
            position: absolute;
            left: 17px;
            top: 2px;
        }
        input {
            width: 90%;
            margin-left: 3%;
            height: 35px;
            background: #ccc;
            border-radius: 3px;
            border: 0;
            line-height: 35px;
            text-indent: 2.2em;
        }
    }
}

.con {
    width: 100%;
    .box {
        width: 100%;
        height: 46px;
        ul {
            width: 100%;
            overflow: hidden;
            li {
                float: left;
                line-height: 46px;
                font-size: 14px;
                padding: 0 9px;
                i {
                    color: #ccc;
                }
                img {
                    width: 28px;
                    height: 15px;
                }
            }
        }
    }
    .swiper-container {
        width: 100%;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .Img {
        width: 100%;
        height: 100px;
    }
}

.middle {
    width: 100%;
    height: 46px;
    ul {
        width: 100%;
        height: 46px;
        display: flex;
        flex-direction: row;
    }
    ul li {
        height: 46px;
        width: 100%;
        float: left;
        margin-left: 12px;
        line-height: 46px;
        flex: 1;
        span {
            font-size: 12px;
        }
        i {
            display: inline-block;
            font-size: 25px;
            margin-right: 4px;
        }
    }
}

.bottom {
    width: 100%;
    .content {
        width: 100%;
        display: flex;
        margin: 10px 0;
        dl {
            flex: 1;
            text-align: center;
            dt {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #ccc;
                text-align: center;
                line-height: 50px;
                margin-left: 14px;
                font-size: 25px;
            }
            dd {
                margin-top: 8px;
                text-align: center;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background: #fff;
    a {
        display: flex;
        flex: 1;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        i {
            font-size: 24px;
        }
    }
}